body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #f9f9f9;
  color: #222;
}
main {
  min-height: 80vh;
}
a {
  color: rgb(0 71 51);
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
